<!-- Header and Nav -->
<%- include partials/header.ejs %>


<%- include  partials/main_nav.ejs %>

  <!-- Main Contact -->
  <div id="main-body" class="container-fluid" style="max-width: 50%; text-align: center; margin-bottom: 75px">
  <main class="container-fluid">
        <h1 class="display-4" style="text-align: center;">About Simple Surveys</h1>
        <br>
        <p style="text-align: center;">We're a re group of programming students being forced to make a website about surveys!</p>
        <p style="text-align: center;">These are our names</p>
        <p style="text-align: center;">This is a little about what we do here at Simple Surveys by Quarantine Coders</p>
        <p style="text-align: center;">This is some other stuff we should probably talk about</p> 
        <p style="text-align: center;">¯\_(ツ)_/¯ </p>     
<p>

</p>

</main></div>


<!-- Bottom Nav and Footer -->
<%- include  partials/bottom_nav.ejs %>

<%- include  partials/footer.ejs %>