<!-- Header and Nav -->
<%- include partials/header.ejs %>


<%- include  partials/main_nav.ejs %>

  <!-- Header -->
  <div id="main-body" class="container-fluid" style="max-width: 100%; text-align: center; margin-bottom: 75px">
  <main class="container-fluid">
        <h1 class="display-4" style="text-align: center;">Simple Surveys</h1>
        <h4 class="display-8" style="text-align: center;">by Quarantine Coders</h4>
        <br>

    <h3 style="text-align: center;">Get the answers you need, for the price you deserve!</h3>
    <br>
    <br>

    <!-- Survey Start -->

    <div id="main-body" class="container-fluid" style="max-width: 100%; text-align: center; margin-bottom: 75px; margin-left: 25%;">
      <div class="row">
          <div class="col-md-offset-3 col-md-6">
      

              <a href="/surveys-list/add" class="btn btn-primary" role="button">
              <i class="fas fa-plus-circle"></i> Add a Survey</a>
              <br>
              <br>
              <table class="table table-bordered table-striper table-hover">
                  <!-- Header Row-->
                  <tr>
                          <th class="text-center">Survey Name</th>
                          <th class="text-center">Description</th>
      

                          <th class="text-center"></th>
                          <th class="text-center"></th>

                  </tr>
      
              </table>
          </div>
      </div>
      </div>

    <!-- Survey End -->


    <!-- Table -->
    <table style="height: 300px; margin-left: auto; margin-right: auto;" width="900", border="2">
      <tbody>
      <tr>
      <td style="width: 300px;">&nbsp;<img src="Assets/images/nowallet.png" alt="" width="225" height="200" /></td>
      <td style="width: 300px;">&nbsp;<img src="Assets/images/data.png" alt="" width="250" height="225" /></td>
      <td style="width: 300px;">&nbsp;<img src="Assets/images/audience.png" alt="" width="300" height="175" /></td>
      </tr>
      <tr>
      <td style="width: 300px;">
      <p style="text-align: center;"><strong>Comepletely Free</strong></p>
      <p style="text-align: center;">Put that wallet away and get the answers you need!</p>
      </td>
      <td style="width: 300px; text-align: center;">
      <p><strong>Easy-To-Access Results</strong></p>
      <p>Always be able to check back with past surveys.</p>
      </td>
      <td style="width: 300px;">
      <p style="text-align: center;"><strong>&nbsp;</strong><strong>Know Your Audience</strong></p>
      <p style="text-align: center;">Use your surveys to gear products and services to your customers.</p>
      </td>
      </tr>
      </tbody>
      </table>
      <br>
      <br>
      <br>
      <h5 style="text-align: center;">Start your free surveys today! Sign up <a href="/register">here</a>.</h5>
      <h6 style="text-align: center;">Already a member? <a href="/login">Sign in</a> to create your surveys now!.</h6>

</main></div>


<!-- Bottom Nav and Footer -->
<%- include  partials/bottom_nav.ejs %>

<%- include  partials/footer.ejs %>
